*.pyc
app.db
./tmp
build
.idea
.env
venv
*.sublime*
node_modules
static/data
./sailsmakr.todo
./questions.txt
sails.todo
tasks.todo.txt
dist
/linux-venv
instance
./win-venv
task.todo
server
screenshots

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
