{% extends 'dashboard/dashboard.html' %}

{% block title %}
    <title>{{ _('Demandes de procurations : Sailsmakr') }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-5 d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" href="#">
                        <i class="bi bi-house-door-fill"></i>
                        <span class="visually-hidden">{{ _('Accueil') }}</span>
                    </a>
                </li>
                <li class="breadcrumb-item active">{{ _('Demandes de procurations') }}</li>
            </ol>
        </nav>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createNewLetter" title="{{ _('Ajouter un nouvel administrateur') }}">
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
    </div>
    
    <h2>
        <span>{{ _('Nouvelles requêtes') }}</span>
    </h2>

    <div class="mb-3">
        <label for="bills-search" class="form-label">{{ _('Taper un Client, Transitaire, N° BL...') }}</label>
        <input type="text" class="form-control" id="bills-search" oninput="filterQuotes()" placeholder="{{ _('Taper un Client, Transitaire, N° BL...') }}">
    </div>

    {% if quotes %}
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>{{ _('ID') }}</th>
                    <th>{{ _('Client') }}</th>
                    <th>{{ _('Compagnie') }}</th>
                    <th>{{ _('Options') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                    <tr>
                        <td>{{ quote.id }}</td>
                        <td >{{ quote.client_first_name }} {{ quote.client_last_name }}</td>
                        <td>{{ quote.shipping_company_title }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ _('Actions') }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ quote.id }}">
                                    <li>
                                        <button type="button" data-quote-id="{{ quote.id }}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#quoteDetailsModal{{ quote.id }}">{{ _('Voir les détails') }}</button>
                                    </li>
                                    <li>
                                        <button type="button" data-quote-id="{{ quote.id }}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editQuoteModal{{ quote.id }}">{{ _('Modifier') }}</button>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('order.prepare_send_container_release_letter', quote_id=quote.id, company_id=company.id) }}">
                                            <i class="bi bi-send me-2"></i>
                                            {{ _('Envoyer') }}
                                        </a>
                                    </li>
                                    <hr class="dropdown-divider">
                                    <li>
                                        <button type="button" data-quote-id="{{ quote.id }}" class="dropdown-item text-danger delete-btn">
                                            <i class="bi bi-trash"></i> {{ _('Supprimer') }}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!-- View details modal -->
                            <div class="modal fade" id="quoteDetailsModal{{ quote.id }}" tabindex="-1" aria-labelledby="quoteDetailsModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="quoteDetailsModalLabel">{{ _('Détails de la demande') }}</h5>
                                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="client_first_name" class="form-label">{{ _('Prénom du client') }}:</label>
                                                        <input type="text" id="client_first_name" class="form-control" value="{{ quote.client_first_name }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="client_last_name" class="form-label">{{ _('Nom du client') }}:</label>
                                                        <input type="text" id="client_last_name" class="form-control" value="{{ quote.client_last_name }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="client_phone_number" class="form-label">{{ _('Numéro de téléphone du client') }}:</label>
                                                        <input type="text" id="client_phone_number" class="form-control" value="{{ quote.client_phone_number }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="client_email_adress" class="form-label">{{ _('Adresse e-mail du client') }}:</label>
                                                        <input type="text" id="client_email_adress" class="form-control" value="{{ quote.client_email_adress }}" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="shipping_company_title" class="form-label">{{ _('Titre de la compagnie de transport') }}:</label>
                                                        <input type="text" id="shipping_company_title" class="form-control" value="{{ quote.shipping_company_title }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lading_bills_identifier" class="form-label">{{ _('Identifiant des documents de chargement') }}:</label>
                                                        <input type="text" id="lading_bills_identifier" class="form-control" value="{{ quote.lading_bills_identifier }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="service_fees" class="form-label">{{ _('Frais de service') }}:</label>
                                                        <input type="text" id="service_fees" class="form-control" value="{{ quote.service_fees }}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Fermer') }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Edit quote modal -->
                            <div class="modal fade" id="editQuoteModal{{ quote.id }}" tabindex="-1" aria-labelledby="editQuoteModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editQuoteModalLabel">{{ _('Modifier la demande') }}</h5>
                                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="editQuoteForm">
                                                <div class="mb-3">
                                                    <label for="client_first_name" class="form-label">{{ _('Prénom du client') }} <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="editClientFirstName" name="client_first_name" value="{{ quote.client_first_name }}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="client_last_name" class="form-label">{{ _('Nom du client') }} <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="editClientLastName" name="client_last_name" value="{{ quote.client_last_name }}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="client_phone_number" class="form-label">{{ _('Numéro de téléphone du client') }} <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="editClientPhoneNumber" name="client_phone_number" value="{{ quote.client_phone_number }}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="client_email_adress" class="form-label">{{ _('Adresse e-mail du client') }}</label>
                                                    <input type="email" class="form-control" id="editClientEmailAdress" name="client_email_adress" value="{{ quote.client_email_adress }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="shipping_company_title" class="form-label">{{ _('Titre de la compagnie de transport') }} <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="editShippingCompanyTitle" name="shipping_company_title" value="{{ quote.shipping_company_title }}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="lading_bills_identifier" class="form-label">{{ _('Identifiant des documents de chargement') }} <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="editLadingBills" name="lading_bills_identifier" value="{{ quote.lading_bills_identifier }}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="service_fees" class="form-label">{{ _('Frais de service') }} <span class="text-danger">*</span></label>
                                                    <input type="number" step="0.01" class="form-control" id="editServiceFees" name="service_fees" value="{{ quote.service_fees }}" required>
                                                </div>
                                                <button type="button" id="editQuoteSubmit" data-quote-id="{{ quote.id }}" class="btn btn-primary">{{ _('Enregistrer') }}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
          {% include 'dashboard/@support_team/empty/no_quote.html' %}
        {% endif %}
            <div class="modal fade" id="createNewLetter" tabindex="-1" aria-labelledby="createNewLetterModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createNewLetterLabel">{{ _('Créer une nouvelle demande') }}</h5>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="createLetterForm" method="POST">
                                <input type="hidden" name="company_id" id="company_id" value="{{ company.id }}">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Nom du Client') }}<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="clientLastName" name="client_last_name" placeholder="{{ _('Doe') }}" list="clientLastNameSuggestions" autocomplete="off" required>
                                        <datalist id="clientLastNameSuggestions"></datalist>
                                        <div class="my-2 text-danger" id="clientLastNameError" style="display: none;">
                                            {{ _('Le nom du client est requis pour continuer') }} 
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Prénom du Client') }}<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="clientFirstName" name="client_first_name" placeholder="{{ _('John') }}" list="clientFirstNameSuggestions" autocomplete="off" required>
                                        <datalist id="clientFirstNameSuggestions"></datalist>
                                        <div class="my-2 text-danger" id="clientFirstNameError" style="display: none;">
                                            {{ _('Le prénom du client est requis pour continuer') }} 
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Téléphone du Client') }} <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="clientPhone" name="client_phone_number" placeholder="+227 74411794" autocomplete="off"  list="clientPhoneSuggestions" required>
                                        <datalist id="clientPhoneSuggestions"></datalist>
                                        <div class="my-2 text-danger" id="clientPhoneError" style="display: none;">
                                            {{ _('Le contact du client est requis pour continuer') }} 
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Email du Client') }}</label>
                                        <input type="email" class="form-control" name="client_email_address" placeholder="exemple@gmail.com">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">{{ _('Adresse du Client') }}<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="clientLocation" name="client_location" placeholder="Niamey Niger" list="clientLocationSuggestions" autocomplete="off" required>
                                        <datalist id="clientLocationSuggestions"></datalist>
                                        <div class="my-2 text-danger" id="clientLocationError" style="display: none;">
                                            {{ _('L\'adresse du client est requise pour continuer') }} 
                                        </div>                                        
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Connaissement') }}<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="billsOfLading" name="lading_bills_identifier" autocomplete="off" placeholder="{{ _('MEDUXXXXX') }}" list="billsOfLadingSuggestions" required>
                                        <datalist id="billsOfLadingSuggestions"></datalist>
                                        <div class="my-2 text-danger" id="billsOfLadingError" style="display: none;">
                                            {{ _('Le connaissement est requis pour continuer') }} 
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Le client est-il une entreprise ?') }}</label>
                                        <select class="form-select" id="clientType" name="client_type">
                                            <option value="person">{{ _('Particulier') }}</option>
                                            <option value="company">{{ _('Entreprise') }}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div id="personFields" class="row" style="display: none;">
                                    <!--
                                        <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Carte d\'identité de l\'agent') }}</label>
                                        <input type="file" class="form-control" name="agent_id_card">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Signature') }}<span class="text-danger">*</span></label>
                                        <input type="file" class="form-control" name="signature">
                                    </div>
                                    -->
                                </div>
                                
                                <div id="companyFields" class="row" style="display: none;">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label" for="company_proof_nif">{{ _('NIF/LICENSE') }}</label>
                                        <input class="form-control" type="text" name="company_proof_nif" id="company_proof_nif" list="companyNifSuggestions" autocomplete="off">
                                        <datalist id="companyNifSuggestions"></datalist>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label" for="company_proof_rccm">{{ _('RCCM') }}</label>
                                        <input class="form-control" type="text" name="company_proof_rccm" id="company_proof_rccm" list="companyRccmSuggestions" autocomplete="off">
                                        <datalist id="companyRccmSuggestions"></datalist>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Nom de l\'Agent') }}<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="agentLastName" name="agent_last_name" placeholder="{{ _('Smith') }}" list="agentLastNameSuggestions" autocomplete="off" required>
                                        <datalist id="agentLastNameSuggestions"></datalist>
                                        <div class="my-2 text-danger" id="agentLastNameError" style="display: none;">
                                            {{ _('Le nom de l\'agent est requis pour continuer') }} 
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Prénom de l\'Agent') }}<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="agentFirstName" name="agent_first_name" placeholder="{{ _('Kimberly') }}" list="agentFirstNameSuggestions" autocomplete="off" required>
                                        <datalist id="agentFirstNameSuggestions"></datalist>
                                        <div class="my-2 text-danger" id="agentFirstNameError" style="display: none;">
                                            {{ _('Le prénom de l\'agent est requis pour continuer') }} 
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">{{ _('Email de l\'Agent') }}</label>
                                        <input type="email" class="form-control" name="agent_email_address" placeholder="agent@example.com">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ShippingCompanyTitle" class="form-label">{{ _('Compagnie') }}<span class="text-danger">*</span></label>
                                        <select name="shipping_company" id="ShippingCompanyTitle" class="form-select">
                                            <option value="{{ _('Veuillez sélectionner la compagnie') }}" disabled selected>{{ _('Veuillez sélectionner la compagnie') }}</option>
                                            <option value="C/o MSC BENIN S.A." selected>C/o MSC BENIN S.A.</option>
                                            <option value="C/o MSC Lomé S.A." >C/o MSC Lomé S.A.</option>
                                        </select>
                                        <div id="ShippingCompanyTitleError" class="text-danger" style="display: none;">
                                            {{ _('Veuillez sélectionner une compagnie') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="privacyPolicy" name="privacy_policy" required>
                                            <label class="form-check-label" for="privacyPolicy">
                                                {{ _('Vous aviez lu et accepté notre') }} 
                                                <a href="{{ url_for('main.cgu') }}">{{ _('politique de confidentialité') }}</a>
                                                <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="my-2 text-danger" id="privacyPolicyError" style="display: none;">
                                        {{ _('Veuillez accepter la politique de confidentialité pour continuer') }} 
                                    </div>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Fermer') }}</button>
                                    <button type="button" id="SubmitButton" class="btn btn-info">
                                        <div class="spinner-border spinner-border-sm" id="Spinner" style="display: none;"></div>
                                        <span id="LoadingText" style="display: none;">{{ _('En cours') }}</span>
                                        <i class="bi bi-plus-circle" id="ButtonIcon"></i> 
                                        {{ _('Continuer') }}
                                    </button>
                                </div>
                            </form>                                         
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination Controls -->
            <nav aria-label="Pagination" class="mt-3">
                <ul class="pagination justify-content-center">
                    {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('order.new_quotes', company_id=company.id, page=pagination.prev_num) }}">
                            <i class="bi bi-chevron-double-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="bi bi-chevron-double-left"></i>
                        </span>
                    </li>
                    {% endif %}

                    {% for page_num in pagination.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
                        {% if page_num %}
                            {% if page_num == pagination.page %}
                                <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('order.new_quotes', company_id=company.id, page=page_num) }}">{{ page_num }}</a></li>
                        {% endif %}
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">…</span></li>
                        {% endif %}
                    {% endfor %}

                    {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('order.new_quotes', company_id=company.id, page=pagination.next_num) }}">
                            <i class="bi bi-chevron-double-right"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="bi bi-chevron-double-right"></i>
                        </span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    <div class="py-5"></div>
    <script type="module" src="{{ url_for('static', filename='js/async/api/@support_team/Authorizations/Automplete.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/async/api/@support_team/Authorizations/EditAuthorization.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/async/api/@support_team/Authorizations/DeleteAuthorization.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/async/api/@support_team/Letter/CreateLetter.js') }}"></script>
    <script>
        document.getElementById('clientType').addEventListener('change', function() {
            var personFields = document.getElementById('personFields');
            var companyFields = document.getElementById('companyFields');
            if (this.value === 'person') {
                personFields.style.display = 'flex';
                companyFields.style.display = 'none';
            } else {
                personFields.style.display = 'none';
                companyFields.style.display = 'flex';
            }
        });
     </script>  
     
    <script>
        function filterQuotes() {
            const searchInput = document.getElementById('bills-search').value.toLowerCase();
            const tableBody = document.querySelector('tbody');
            const rows = tableBody.getElementsByTagName('tr');
            const noResultsMessage = document.getElementById('no-results-message');
            let resultsFound = false;

            for (let row of rows) {
                const clientCell = row.cells[1].innerText.toLowerCase();
                const companyCell = row.cells[2].innerText.toLowerCase();

                if (clientCell.includes(searchInput) || companyCell.includes(searchInput)) {
                    row.style.display = '';
                    resultsFound = true;
                } else {
                    row.style.display = 'none'; 
                }
            }

            if (noResultsMessage) {
                noResultsMessage.style.display = resultsFound ? 'none' : 'block';
            }
        }
    </script>

</div>

{% endblock %}
